<div class="swiper-container m20">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="assets/img/slide1.jpg"></div>
    <div class="swiper-slide"><img src="assets/img/slide2.jpg"></div>
    <div class="swiper-slide"><img src="assets/img/slide3.jpg"></div>
    <div class="swiper-slide"><img src="assets/img/slide4.jpg"></div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
<div class="title center-align"><strong></strong><h4></h4></div>